<div class="container-fluid p-0 mt-2">
    <div class="container">
        <p class="title display-6 ">Sign Up</p>
        <p class="title">Please fill in this form to create an account!</p>
        <form #formData="ngForm">
            {{ '' // First Name }}
            <div class="form-group row d-flex align-items-center justify-content-center mb-2 pt-2 gx-2">
                <div class="col-sm-3">
                    <input type="text" required class="form-control" id="inputFirstName" placeholder="First Name"
                        name="firstName" [(ngModel)]="firstName" #firstNameControl="ngModel">
                    <div *ngIf="firstNameControl.touched && !firstNameControl.valid">
                        <div *ngIf="firstNameControl.errors?.['required']">
                            <div class="alert alert-danger mt-1" role="alert">Required field!</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <input type="text" required class="form-control" id="inputLastName" placeholder="Last Name"
                        name="lastName" [(ngModel)]="lastName" #lastNameControl="ngModel">
                    <div *ngIf="lastNameControl.touched && !lastNameControl.valid">
                        <div *ngIf="lastNameControl.errors?.['required']">
                            <div class="alert alert-danger mt-1" role="alert">Required field!</div>
                        </div>
                    </div>
                </div>
            </div>

            {{ '' // Email }}
            <div class="form-group row d-flex align-items-center justify-content-center mb-2 pt-2">
                <div class="col-sm-6">
                    <input type="email" required class="form-control" id="inputEmail" placeholder="Email" name="email"
                        [(ngModel)]="email" #emailControl="ngModel" [email]="true">
                    <div *ngIf="emailControl.touched && !emailControl.valid">
                        <div *ngIf="emailControl.errors?.['required']">
                            <div class="alert alert-danger mt-1" role="alert">Required field!</div>
                        </div>
                        <div *ngIf="emailControl.errors?.['email']">
                            <div class="alert alert-danger mt-1" role="alert">Invalid email!</div>
                        </div>
                    </div>
                </div>
            </div>

            {{ '' // Password }}
            <div class="form-group row d-flex align-items-center justify-content-center mb-2 pt-2">
                <div class="col-sm-6">
                    <input type="password" required class="form-control" id="inputPassword" placeholder="Password"
                        name="password" [(ngModel)]="password" #passwordControl="ngModel" minlength="8" maxlength="30">
                    <div *ngIf="passwordControl.touched && !passwordControl.valid">
                        <div *ngIf="passwordControl.errors?.['required']">
                            <div class="alert alert-danger mt-1" role="alert">Required field!</div>
                        </div>
                        <div *ngIf="passwordControl.errors?.['minlength']">
                            <div class="alert alert-danger mt-1" role="alert">Minimum 8 digits</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group d-flex align-items-center justify-content-center pt-2">
                <div *ngIf="wrong">
                    <div class="alert alert-danger mt-1 text-center" role="alert">{{errorMessage}}</div>
                </div>
            </div>

            <div class="buttonDiv d-grid mt-4">
                <button type="button" [disabled]="!emailControl.valid || !passwordControl.valid" class="btn btn-primary"
                    (click)="register()">Sign Up</button>
            </div>
        </form>
    </div>
</div>